(
  format: "o65-link",
  target: Some("golden"),
  memory: [
    (
      name: "MAIN",
      start: 0,
      size: 65536,
      kind: ReadWrite,
      fill: Some(0),
      out_file: Some("expected.bin"),
    ),
  ],
  segments: [
    (
      name: "FIXED_LO",
      load: "MAIN",
      run: None,
      align: Some(1),
      start: Some(16),
      offset: None,
      optional: false,
      segment: Some("fixed_lo"),
    ),
    (
      name: "FIXED_HI",
      load: "MAIN",
      run: None,
      align: Some(1),
      start: Some(32),
      offset: None,
      optional: false,
      segment: Some("fixed_hi"),
    ),
    (
      name: "DEFAULT",
      load: "MAIN",
      run: None,
      align: Some(1),
      start: None,
      offset: None,
      optional: false,
      segment: None,
    ),
  ],
  symbols: [],
  outputs: [],
  entry: None,
)
