(
  format: "o65-link",
  target: Some("golden"),
  memory: [
    (
      name: "MAIN",
      start: 0,
      size: 65536,
      kind: ReadWrite,
      fill: Some(0),
    ),
  ],
  segments: [
    (
      id: "FIXED_LO",
      load: "MAIN",
      run: None,
      align: Some(1),
      start: Some(16),
      offset: None,
      optional: false,
      segment: Some("fixed_lo"),
    ),
    (
      id: "FIXED_HI",
      load: "MAIN",
      run: None,
      align: Some(1),
      start: Some(32),
      offset: None,
      optional: false,
      segment: Some("fixed_hi"),
    ),
    (
      id: "DEFAULT",
      load: "MAIN",
      run: None,
      align: Some(1),
      start: None,
      offset: None,
      optional: false,
      segment: None,
    ),
  ],
  symbols: [],
  output: (
    kind: RawBinary,
    file: Some("expected.bin"),
  ),
  entry: None,
)
